<h2><%= rivet.get('name') %></h2>
<h3>Material</h3>
<p><%= rivet.get('material') %></p>
<h3>Shape</h3>
<p><%= rivet.get('shape') %></p>
<h3>Size</h3>
<p><%= rivet.get('size') %></p>
<h3>Summary</h3>
<p><%= rivet.get('summary') %></p>
<br>
<br>

<a href="/rivets/<%= rivet.get('id')%>/edit">Update</a>

<form
  action="/rivets/<%= rivet.get('id')%>/delete"
  method="post"
>
  <input type='submit' value='remove' />
</form>
<a href="/">TAKE ME HOME </a>
